alembic
chromadb
Flask
Flask-SQLAlchemy
gunicorn
huggingface-hub
langchain
langchain-openai
openai
pdf2image
pdfminer.six
pdfplumber
pikepdf
PyPDF2
python-dotenv
sentence-transformers
tiktoken

